**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/bin
**/Dockerfile*
**/docker-compose*
**/obj
**/secrets.dev.yaml
**/values.dev.yaml